[Unit]
Description=demo fastapi application
After=network.target

[Service]
User=edis
Group=edis
WorkingDirectory=/home/edis/app/src
Environment="PATH=/home/edis/app/venv/bin"
EnvironmentFile=/home/edis/.env
ExecStart=/home/edis/app/venv/bin/gunicorn -w 4 -k uvicorn.workers.UvicornWorker app.main:app --bind 0.0.0.0:8000

[Install]
WantedBy=multi-user.target